<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="Template1">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />

	<title>Inscription iRecrutements</title>


	<link rel="icon" type="image/png" href="assets/img/logoIrecrutements.png" />
	
</head>

<body class="index-page">

	<section layout:fragment="content">
		<div class="wrapper">
			
				<div class="header header-filter" style="background-image: url('assets/img/bg5.jpg');">
					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="brand">
									<h1>iRecrutements</h1>
									<h3>Etes vous à la recherche d'un contrat CDI, CDD, Freelance, ou Stage de Pré-Embauche ? </h3>
									<h3>iRecrutements sera votre compagnon idéal !</h3>
								</div>
							</div>
						</div>
			
					</div>
				</div>
			
				<div class="main main-raised">
	                <div class="card card-signup">
						<div class="header header-primary text-center" >
							<h4 th:text="${candidature.intituleCandidature}"></h4>
						</div>
						
						<p class="text-divider">Information sur la candidature</p>
							<div class="content">
									<div class="section section-examples">
		       							<div class="container-fluid text-center">
											<div class="row">
												<div class="col-md-8 col-md-offset-2">
												<div class="input-group-addon">
													<div>
												        <h3><kbd>Type de la candidature :</kbd> <span th:text="${candidature.typeCandidature}"></span></h3>
													</div>
													
													<div>
												        <h3><kbd>Intitule de la candidature :</kbd> <span th:text="${candidature.intituleCandidature}"></span></h3>
													</div>
				
<!-- 													<div class="input-group "> -->
											
													<div>
												        <h3><kbd>Niveau de formation :</kbd> <span th:text="${candidature.experienceCandidature}"></span></h3>
													</div>
													
													<div>
												        <h3><kbd>Domaines de la candidature :</kbd> <span th:text="${candidature.domainesToString()}"></span></h3>
													</div>
													
													<div>
												        <h3><kbd>Ville de la candidature :</kbd> <span th:text="${candidature.villeCandidature.nomVille}"></span></h3>
													</div>
													
													<div>
														<span th:if="${candidature.cv != null}">
															<h3><kbd>CV :</kbd> <a th:href="@{|/downloadDoc?id=${candidature.cv.idDocument}|}"><span th:text="${candidature.cv.titreDocument}"></span></a></h3>
														</span>
														<span th:if="${candidature.cv == null}">
															<h3><kbd>CV :</kbd> Aucun cv ajoute!</h3>
														</span>
													</div>
													
													<div>
														<span th:if="${candidature.motivation != null}">
															<h3><kbd>Lettre de motivation :</kbd> <a th:href="@{|/downloadDoc?id=${candidature.motivation.idDocument}|}"><span th:text="${candidature.motivation.titreDocument}"></span></a></h3>
														</span>
														<span th:if="${candidature.motivation == null}">
															<h3><kbd>Lettre de motivation :</kbd> Aucune lettre ajoutee!</h3>
														</span>
													</div>
												</div>
												</div>
										</div>
									</div>
								</div>
							</div>
						<div class="footer text-center">
							<a th:href="@{/deleteCandidature(id=${candidature.idCandidature})}" class="btn btn-primary" role="button" >Supprimer</a>
							<a th:if="${Edit == null}" th:href="@{/EditCandidature(id=${candidature.idCandidature})}" class="btn btn-primary" role="button" >Modifier</a>
						</div>
					</div>
				</div>
			
			<section layout:fragment="footer">
				
			    <footer class="footer">
				    <div class="container">
<!-- 				        <nav class="pull-left"> -->
<!-- 				            <ul> -->
<!-- 								<li> -->
<!-- 									<a href="http://www.creative-tim.com"> -->
<!-- 										Creative Tim -->
<!-- 									</a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="http://presentation.creative-tim.com"> -->
<!-- 									   About Us -->
<!-- 									</a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="http://blog.creative-tim.com"> -->
<!-- 									   Blog -->
<!-- 									</a> -->
<!-- 								</li> -->
<!-- 								<li> -->
<!-- 									<a href="http://www.creative-tim.com/license"> -->
<!-- 										Licenses -->
<!-- 									</a> -->
<!-- 								</li> -->
<!-- 				            </ul> -->
<!-- 				        </nav> -->
				        <div class="copyright pull-right">
				            &copy; IRECRUTEMENTS — TOUS DROITS RÉSERVÉS, made with <i class="material-icons">favorite</i> by EDDAHBANI Zakariae and EL MOUNJIDE Hamza.
				        </div>
				    </div>
				</footer>
			</section>
		</div>
	</section>

</body>
	
</html>
